
  <%= form_for([@paper, @comment], action: :update) do |f| %>
    <div style="margin: 8px auto">
      <%= f.text_area :comment, value: @comment.comment, placeholder: "コメントする", style: 'width: 80%;height: 100px; margin: 10 auto;' %>
    </div>
    <div style="margin: 8px auto">
      <%= button_tag type: "submit" do %>
        投稿する<i></i>
      <% end %>
    </div>
  <% end %>
