<div>
  <h1> <%= @paper.title %> </h1>
  <%= form_for([@paper, @comment], action: :update) do |f| %>
    <div style="margin: 8px 0">
      <%= f.text_area :comment, value: @comment.comment, placeholder: "コメントする", style: 'width: 100%;height: 300px;' %>
    </div>
    <div>
      <%= button_tag type: "submit" do %>
        投稿する<i></i>
      <% end %>
    </div>
  <% end %>
</div>