$("body").append('<div id="modal-overlay">aaa</div>');
$("#modal-overlay").fadeIn("slow");
$("#modal-content").css("display","block");
$("#modal-content").css("z-index","2").html("<%= escape_javascript(render partial:'modal_edit') %>");