

$("body").append('<div id="modal-overlay"></div>');
$("#modal-overlay").fadeIn("slow");
$("#modal-content").css("display","block");
$("#modal-content").css("z-index","2").html("<%= escape_javascript(render partial:'modal_edit') %>");
var onClickHandler = function(){
    $(".comment-text-area").focus();
}
$('.comment-text-area').bind('click', onClickHandler);
$('.comment-text-area').click();

$("#modal-overlay").click(function() {　$('#modal-content').hide();　$("#modal-overlay").remove()});
