<h1><%= @name %></h1>
<h2><%= @introduction %></h2>
<% @comments.each do |comment| %>
  <%= render partial: "/papers/item", locals: { paper: comment.paper, comment: comment } %>
  <span> <%= comment.like_count %> Like </span>
<% end %>
