/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require evil-icons
 */



h1,h2,h3, header {
  font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
}
header {
    background-color: #15274D;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    color: #EEF;
    font-size: 20px;
}


body, html {
    -webkit-text-size-adjust: 100%;
    font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    font-size: 14px;
    color: #222;
    height: 100%;
    background-color: #AAA;
    left: 0;
    margin: 0 0;
}

.navbar{
    -webkit-padding-start: 0px;
    width: 100%;
    margin: 0 0;
    display:table;
}
.navbar li{
  display:table-cell;
  text-align:center;
  box-sizing:border-box;
  border:#888 1px solid;
}

.search-button{
  color: white;
  background-color: black;
}

.search-box {
  left: 0;
  margin-bottom: 5px;
}

.search-box input{
  color: white;
  font-size: 18px;
  background-color: black;
  height: 20px;
  width: 70%;
  border-width: 0;

}

.show {
    background-color: #253050;
    padding-bottom: 10px;
}

.source {
  border: 2px solid #fff;  
  color: #fff;
  font-size: 15px;
  margin: 0 auto;
  padding: 3px;
  display: table;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.title-box {
  width: 80%;
  float:left;
  padding-left:2%;
  color: #fff;
}

.title-box h2{
  font-size: 15px;
  font-weight: normal;
}

.picks-box {
  width:15%;
  float:left;
}

.curled-box {
  border: 2px solid #fff;  
  color: #fff;
  border-radius: 50%;
  height: 50px;
  width:  50px;
  text-align: center;
  font-size: 10px;
  margin-top: 30%;
}
.curled-box .num {
  font-size: 20px;
}




.content {
    padding: 30px 0 0;
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
}


a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

.picks {

}

.section-header {
  margin: 0 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid #1b2a50;
}

.comment-row {
  margin: 10px 10px 0;
  border-bottom: 1px solid #CCC;
}

.comment-row2 {
  margin: 0 0 ;
  border-bottom: 1px solid #000;
  background-color: #EEE;
}

.user-profile-wrapper {
  display: block;
}

.user-cover {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  color: white;
  background-color: silver;


}

.user-profile {

}

.name {
  font-size: 110%;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.introduction {
  font-size: 80%;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.picktime {
  color: #999;
  font-size: 80%;
}

.comment-wrapper {
}

.comment {
  line-height: 160%;
  margin: 10px 0;
  word-break: break-word;
}

.item{
  margin-top:10px;
  background-color: #fff;
  width:100%;
}

#infscr-loading {
    text-align: center;
}

#modal-content{
  width: 100%;
  max-width: 400px;
  size: 20px;
  margin:auto auto;
  padding:10px 20px;
  border:2px solid #aaa;
  background-color: #AAA;
  z-index:2;
  position:fixed;
  display:none;
  bottom: 0;
}

#modal-overlay{
  z-index:1;
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:120%;
  background-color:rgba(0,0,0,0.75);
}

.pick {
  
  box-shadow: 0px -1px 1px 1px #BBB;
  -webkit-box-shadow: 0px -1px 1px 1px #BBB;
  -moz-box-shadow: 0px -1px 1px 1px #BBB;

  position: fixed;
  z-index: 1;
  bottom: 0;
  height: 25px;
  background-color: #fff;
  color: #15274D;
  font-size: 20px;
  text-align: center;
  width: 100%;
  right:auto;
  display: none;
}

.comment-text-area{
  width: 70%;
  height: 75px;
  font-size: 17px;
  margin: 5px auto;
  float:left;
}

.comment-button{
  background-color: #15274D;
  border-width: 0;
  border-radius: 20%;
  color: #fff;
  font-size: 17px;
  width: 55px;
  text-align: center;
  height: 35px;
  display: block;
  margin-top: 25px;
  margin-left: 7px;
  float:left;
}

.abstract{
  margin: 0 auto;
  width: 85%;
  text-align: center;
}



