/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
    background-color: #15274D;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    text-align: center;
}


body {
  background-color: orange;
}




body, html {
    font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    font-size: 14px;
    color: #222;
    height: 100%;
}




.content {
    padding: 50px 0 0;
}


a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

.picks {

}

.section-header {
  margin: 0 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid #1b2a50;
}

.comment-row {
  margin: 10px 10px 0;
  border-bottom: 1px solid #CCC;
}

.user-profile-wrapper {
  display: block;
}

.user-cover {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;

}

.user-profile {

}

.name {
  font-size: 110%;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.introduction {
  font-size: 80%;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.picktime {
  color: #999;
  font-size: 80%;
}

.comment-wrapper {

}

.comment {
  line-height: 160%;
  margin: 10px 0;
  word-break: break-word;
}



