// Place all the styles related to the papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item {
  border: solid 5px black;
  margin-top: 5px;
}

.comment {
  border: solid 5px gray;
}